/*===== CSS theme file for CalendarXP 9.0 (Totally configurable) =====*/
/* NOTE: Better use numbered color values instead of literal ones, because opera has problem with the latter in certain cases. */

/* Calendar Day Header - the cells showing "Sunday", "Monday" .... */
.CalHead {cursor:default; text-align:center;}
/* Day of Week - the Anchor inside CalHead showing the day of week */
.DoWAnchor {text-decoration:none; font:10pt sans-serif; color:yellow;}
/* Day Column Cell - the TD cell of each day */
.CalCol {}
/* Day Cell - the DIV cell inside TD */
.CalCell {cursor:pointer; background:no-repeat; text-align:right; display:table;}
/* Day Number - the Anchor inside DIV showing the day number  */
.CellAnchor {text-decoration:none; font:9pt arial; display:table-row;}

/* WeekNo Header - the top header cell of the week number column */
.WeekHead {cursor:default; font:10pt arial black; text-align:center; color:#ddddea;}
/* WeekNo Column Cell - the cells of the week number column */
.WeekCol {cursor:default; text-align:center; background:#ddddea; vertical-align:middle;}
/* WeekNo Anchor style */
.WeekAnchor {text-decoration:none; font:bold 9pt sans-serif; color:gray; }
A.WeekAnchor:hover {color:blue;}
A.WeekAnchor:active {color:red;}

/* Month navigators - the "<" or ">" used to move to previous or next month */
.MonthNav {vertical-align:middle; height:22; width:18; font:10pt fixedsys; color:black; text-decoration:none;}
A.MonthNav:hover {color:yellow}
A.MonthNav:active {color:red}

/* styles for the 3 calendar sections (actually 3 table TDs) */
.CalTop {text-align:center;}
.CalMiddle {}
.CalBottom {text-align:center;}

/* Calendar title - showing year and month. when giDCStyle=0, it's the style of the year/month dropdowns; giDCStyle>0, it's the style to show gsCalTitle.  */
.CalTitle {vertical-align:middle; font:24pt Monotype Corsiva; cursor:default; text-align:center;}

/* The style of internal floating div/layer tags, which are usually used to create the artificial dropdown selectors. */
.FreeDiv {}

/* The style of the outer TABLE tag which is the outer calendar panel. */
#outerTable {border:2px ridge #ffffff;}
/* The style of the inner DIV tag that holds the inner panel of all calendar cells. */
#innerDiv {border:1px solid #dcdcdc;}
/*===== Above CSS styles are commonly used in the script engine =====*/

/*====== Following are additional per-theme styles, e.g. the inner dropdown selectors and today etc. You may have your own defined. ======*/
.BottomAnchor {text-decoration:none; font:bold 10pt sans-serif; color:black; vertical-align:top;}
A.BottomAnchor:hover {color:blue;}
A.BottomAnchor:active {color:red;}

.MsgBoard {font:7.5pt Arial; cursor:pointer; color:blue;}
